<title>Adam Taylor</title>
<h1>Adam Taylor</h1>
<img src="res/Gummi.gif" alt="Photo of a Gummi Bear" width="125" height="137" style="border: solid 1px gray; margin: 5px 15px 5px 5px;" align="right">
<TR>My <TD ALIGN=left><a href="http://scholar.google.com/citations?user=mimjBkgAAAAJ&hl=en"><strong>Google Scholar Page</strong></a> contains more general information.</TD></TR></P>

</table>

<div>
<h2 align="left">Contact</h2>
<p align="left">Office: <i>Lloyd 2.15</i> </br>
  <br>
  Phone: <i>+353 1 896 3688</i> </br> 
  <br>
  E-mail: <i>tayloral or taylora6 at scss dot tcd dot ie</i> </p>
</div>
<div>
<h2 align="left">Teaching and Lab Materials</h2>
</div>
<div>
<h3 align="left" style="color:#000000">CS1021 Content</h3>
Available <TR><TD ALIGN=left><a href="CS1021.html"><strong>here</strong></a></TD></TR>.  Normally it will be available through Blackboard, but I do not have access yet.
</div>
<div>
<h3 align="left">Digital Media - Sensor Technology</h3>
Available <TR><TD ALIGN=left><a href="https://www.scss.tcd.ie/~taylora6/sensorTech.html"><strong>here</strong></a></TD></TR>.  I'll aim to update this page prior to the week's lectures.
</div>

<div>

<h2 align="left">Publications</h2>
<table>
<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Taylor2014">9</a>]
</td>
<td class="bibtexitem">
Ivana Dusparic, Adam Taylor, Andrei Marinescu, Vinny Cahill and Siobh&aacuten Clarke.<br>
Maximizing Renewable Energy Use with Decentralized Residential Demand Response.<br>
In <em>Proceedings of the 2015 International Smart Cities Conference (ISC2)</em>. IEEE, 2015.<br>
[&nbsp;<a href="./res/papers/MaximizingRenewableEnergyUsage_Dusparic.txt">bib</a>&nbsp| 
<a href="./res/papers/MaximizingRenewableEnergyUsage_Dusparic.pdf">PDF</a>&nbsp;]

</td>
</tr>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Taylor2014">8</a>]
</td>
<td class="bibtexitem">
Andrei Marinescu, Ivana Dusparic, Adam Taylor, Vinny Cahill and Siobh&aacuten Clarke.<br>
P-MARL: Prediction-Based Multi-Agent Reinforcement Learning for Non-Stationary Environments (Extended Abstract).<br>
In <em>Proceedings of the 2015 International Conference on Autonomous Agents and Multiagent Systems (AAMAS2015)</em>. IFAAMAS, 2015.<br>
[&nbsp;<a href="./res/papers/Marinescu_p-marl.txt">bib</a>&nbsp| 
<a href="./res/papers/Marinescu_p-marl.pdf">Extended Abstract</a>&nbsp;]

</td>
</tr>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Taylor2014">7</a>]
</td>
<td class="bibtexitem">
Adam Taylor, Edgar Galv&aacuten-L&oacutepez, Ivana Dusparic,   Colin Harris, Andrei Marinescu, Siobh&aacuten Clarke and Vinny Cahill.<br>
 Self-Organising Algorithms for Residential Demand Response.<br>
 In <em>2nd Annual IEEE Conference on Technologies for Sustainability (SusTech2014)</em>. IEEE, 2014.<br>
[&nbsp;<a href="./res/papers/Taylor_Self-Organising Algorithms for Residential Demand Response.txt">bib</a>&nbsp| 
<a href="./res/papers/Taylor_Self-Organising Algorithms for Residential Demand Response extended abstract_sustech14.pdf">Extended Abstract</a>&nbsp;|
<a href="./res/papers/Taylor_Self-Organising Algorithms for Residential Demand Response.pdf">PDF</a>&nbsp;]

</td>
</tr>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Taylor2014">6</a>]
</td>
<td class="bibtexitem">
Adam Taylor, Ivana Dusparic, Edgar Galv&aacuten-L&oacutepez, Siobh&aacuten Clarke and Vinny Cahill.<br>
 Accelerating Learning in Multi-Objective Systems through Transfer Learning.<br>
 In <em>Special Session on Learning and Optimization in Multi-Criteria Dynamic and Uncertain Environments at the International Joint Conference on Neural Network 2014 (IEEE IJCNN 2014)</em>. IEEE, 2014.<br>
[&nbsp;<a href="./res/papers/Taylor_Accelerating Learning in Multi-Objective Systems through Transfer.txt">bib</a>&nbsp| 
<a href="./res/papers/Taylor_Accelerating Learning in Multi-Objective Systems through Transfer.pdf">PDF</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Galvan2014">5</a>]
</td>
<td class="bibtexitem">
Edgar Galv&aacuten-L&oacutepez, Adam Taylor, Siobh&aacuten Clarke and Vinny Cahill.<br>
 Design of an Automatic Demand-Side Management System Based on Evolutionary Algorithms.<br>
 In <em>Proceedings of the 29th Annual ACM Symposium on Applied Computing (SAC 2014)</em>. ACM, 2014.<br>
[&nbsp;<a href="./res/papers/designDSM_Galvan_SAC_2014.txt">bib</a>&nbsp|
<a href="./res/papers/designDSM_Galvan_SAC_2014.pdf">PDF</a>&nbsp;]

</td>
</tr>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Galvan2014">4</a>]
</td>
<td class="bibtexitem">
Seamus McGonigle, Qian Wang, Meng Wang, Adam Taylor, Eamonn O'Nuallain.<br>
Reputation-Based Trust Management for Distributed Spectrum Sensing.<br>
 In <em>Proceedings of the Fifth International Conference on Networks & Communications (NetCom2013)</em>. Springer International Publishing, 2014.<br>
[&nbsp;<a href="./res/papers/Reputation-Based Trust Management for Distributed Spectrum Sensing.txt">bib</a>&nbsp|
<a href="http://link.springer.com/chapter/10.1007/978-3-319-03692-2_20">Springer</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="taylor2013">3</a>]
</td>
<td class="bibtexitem">
 Adam Taylor, Ivana Dusparic, Edgar Galv&aacuten-L&oacutepez, Siobh&aacuten Clarke and Vinny Cahill.<br>
 Transfer Learning in Multi-Agent Systems through Parallel Transfer.<br>
 In <em>Theoretically Grounded Transfer Learning at the 30th International Conference on Machine Learning (ICML)</em>, The International Machine Learning Society, 2013.<br>
[&nbsp;<a href="./res/papers/Taylor_ParallelTransferLearning_ICML_2013.txt">bib</a>&nbsp;| 
<a href="./res/papers/Taylor_ParallelTransferLearning_ICML_2013.pdf">PDF</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="taylor2012">2</a>]
</td>
<td class="bibtexitem">
Adam Taylor, Edgar Galv&aacuten-L&oacutepez, Siobh&aacuten Clarke and Vinny Cahill.<br>
 Management and Control of Energy Usage and Price using Participatory Sensing Data.<br>
 In <em>Agent Technologies for Energy Systems at the 11th International Conference on Autonomous Agents and Mulitagent Systems (AAMAS 2012)
</em>, IFAAMAS , 2012.<br>
[&nbsp;<a href="./res/papers/Taylor_ManagementControlEnergyPricePSRL_ATES_2012.txt">bib</a>&nbsp;| 
<a href="./res/papers/Taylor_ManagementControlEnergyPricePSRL_ATES_2012.pdf">PDF</a>&nbsp;]

</td>
</tr>
<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="taylor2012">1</a>]
</td>
<td class="bibtexitem">
Adam Taylor, Supervisor: Ciar&aacuten Mc Goldrick.<br>
 TotTemp: A Wireless Data Reporting System with Environmental Integration for Infant Health Monitoring.<br>
Master's Thesis, 2011.<br>
[&nbsp;<a href="./res/papers/Taylor_TotTemp.txt">bib</a>&nbsp;| 
<a href="./res/papers/Taylor_TotTemp.pdf">PDF</a>&nbsp;]

</td>
</tr>
</table>

<center>
<h2 align="left">Reviewer</h2>
<p align="left">
<TR><TD ALIGN=left><a href="http://coneco2009.com/2014/icite/submission.html"><strong>Second International Conference on Information Technology in Education (ICITE 2014) </strong></a> </TD></TR></P>
</p>
<p align="left">
<TR><TD ALIGN=left><a href="http://www.iccaad.org/?page_id=631"><strong>IC Computer Applications and Aided Diagnosis (ICCAAD15) </strong></a> </TD></TR></P>
</p>
<p align="left">
<TR><TD ALIGN=left><a href="http://www.icsoeb.org/?page_id=757"><strong>International Conference on Solar Energy and Building (ICSOBE15) </strong></a> </TD></TR></P>
</p>
<p align="left">
<TR><TD ALIGN=left><a href="http://iced2016.unimap.edu.my/"><strong> 3rd International Conference ON Electronic Design (ICED 2016)  </strong></a> </TD></TR></P>
</p>
<p align="left">
<TR><TD ALIGN=left><a href="http://acsit2016.org/icite/index.html"><strong>Fourth International Conference on Information Technology in Education (ICITE 2016)</strong></a> </TD></TR></P>
</p>

<center>
<h2 align="left">Code</h2>
<p align="left">
A program to draw World Cup 2014 teams one by one.
<a href="./res/code/WorldCupDrawer.jar">[JAR|</a> 
<a href="./res/code/WorldCupDrawer.java">JAVA]</a> </TD></TR></P>
</p>
<p align="left">
A program to draw Rugby World Cup 2015 teams one by one.
<a href="./res/code/RugbyWorldCup.jar">[JAR|</a> 
<a href="./res/code/RugbyWorldCup.java">JAVA]</a> </TD></TR></P>
</p>
<p align="left">
A program to draw Euro 2016 teams one by one.
<a href="./res/code/EURO2016Draw.jar">[JAR|</a> 
<a href="./res/code/EURO2016Draw.java">JAVA]</a> </TD></TR></P>
</p>
<hr>
<font size="-1">
 
	[<a href="https://www.scss.tcd.ie/personnel/">Personnel</a>] 
	[<a href="https://www.scss.tcd.ie/cgi-bin/ldap/directory.cgi">Update your entry</a>] 
	[<a href="https://www.scss.tcd.ie/">School of Computer Science and Statistics</a>] 
	[<a href="https://www.tcd.ie/">Trinity College Dublin</a>]
	
<br> Last modified: 22/12/15 11:30</font> 
<br> URL: https://www.scss.tcd.ie/~tayloral/ or https://www.scss.tcd.ie/~taylora6/ 
<br> </center> </body></html>
